@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body{
   max-width: 100%;
   height: 100vh;
   background: hsl(230, 17%, 14%);
   color: hsl(0, 0%, 100%);
}
body.active{
   background: hsl(0, 0%, 100%);
   color: hsl(230, 17%, 14%);
}

.container{
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 20px;
}

.header{
   position: absolute;
   width: 100%;
   height: 250px;
   background: hsl(232, 19%, 15%);
   z-index: -1;
}
body.active > .header{
   background: hsl(225, 100%, 98%);
}

.header-content{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   padding-top: 40px;
   align-items: center;
   margin-bottom: 2rem;
}
.header-content .hder-title h1{
   font-size: 26px;
   font-weight: 700;
}
.header-content .hder-title span{
   font-size: 14px;
   color: hsl(228, 34%, 66%);
}

.switcher{
   display: flex;
   align-items: center;
}
.switcher h5{
   font-size: 12px;
   font-weight: 400;
   margin-right: 20px;
   color: hsl(228, 34%, 66%);
}

.switcher .toggle input[type="checkbox"]{
   position: relative;
   display: flex;
   align-items: center;
   width: 50px;
   height: 25px;
   background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
   border-radius: 50px;
   outline: none;
   cursor: pointer;
   -webkit-appearance: none;
   transition: all 0.5s ease;
}
.toggle input:checked[type="checkbox"]{
   background: hsl(230, 22%, 74%);
}
.toggle input:checked[type="checkbox"]:hover{
   background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.toggle input[type="checkbox"]::before{
   content: '';
   position: absolute;
   width: 21px;
   height: 21px;
   background: hsl(232, 19%, 15%);
   border-radius: 50%;
   left: 2px;
   top: 1;
   transition: all 0.5s ease;
}
.toggle input:checked[type="checkbox"]::before{
   content: '';
   position: absolute;
   width: 21px;
   height: 21px;
   background: hsl(225, 100%, 98%);
   border-radius: 50%;
   left: 25px;
   top: 1;
}
/* ----------------header area--------------------- */

.dashboard{
   top: 130px;
   left: 70px;
   /* border: 1px solid red; */
}
.social-media-showcase{
   width: 100%;
}

.social-grid-area{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-bottom: 3rem;
   grid-gap: 30px;
}
.social-grid-area .grid-item{
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 200px;
   padding: 20px 0 20px 0;
   background: hsl(228, 28%, 20%);
   border-radius: 5px;
   overflow: hidden;
}
.social-grid-area.active > .grid-item{
   background: hsl(227, 47%, 96%);
}
.social-grid-area.active > .grid-item h1{
   color: hsl(230, 17%, 14%);
}
.social-grid-area.active > .grid-item h6,
.social-grid-area.active > .grid-item span{
   color: hsl(228, 12%, 44%);
}
.social-grid-area .facebook::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 5px;
   top: 0;
   background: hsl(208, 92%, 53%);
}
.social-grid-area .twitter::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 5px;
   top: 0;
   background: hsl(203, 89%, 53%);
}
.social-grid-area .instargram::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 5px;
   top: 0;
   background: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}
.social-grid-area .youtube::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 5px;
   top: 0;
   background: hsl(348, 97%, 39%);
}
.grid-item .social-title{
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
}
.grid-item .social-title h6{
   color: hsl(228, 34%, 66%);
   margin-left: 10px;
   font-size: 14px;
}

.grid-item  .social-followers{
   text-align: center;
   margin-bottom: 1rem;
}
.grid-item  .social-followers h1{
   font-size: 60px;
}
.grid-item  .social-followers span{
   font-size: 14px;
   color: hsl(228, 34%, 66%);
   text-transform: uppercase;
   letter-spacing: .2rem;
}

.grid-item .social-status{
   display: flex;
   align-items: center;
}
.grid-item .up p{
   color: hsl(163, 72%, 41%);
   margin-left: 5px;
}
.grid-item .down p{
   color: hsl(356, 69%, 56%);
   margin-left: 5px;
}

/* =====Show Case===== */

.overviwe .overviwe-grid-area{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 30px;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.overviwe-grid-area .ov-grid-item{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 150px;
   background: hsl(228, 28%, 20%);
   padding: 20px;
   border-radius: 5px;
}
.overviwe-grid-area.active > .ov-grid-item{
   background: hsl(227, 47%, 96%);
}
.overviwe-grid-area.active > .ov-grid-item span{
   color: hsl(228, 12%, 44%);
}
.ov-grid-item .ov-top,
.ov-grid-item .ov-bottom{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}
.ov-grid-item .ov-top span{
   font-size: 18px;
   color: hsl(228, 34%, 66%);
}
.ov-grid-item .ov-bottom h3{
   font-size: 30px;
}
.ov-bottom .updown-status{
   display: flex;
   align-items: center;
}
.updown-status p{
   margin-left: 8px;
}
.updown-status .up{
   color: hsl(163, 72%, 41%);
}
.updown-status .down{
   color: hsl(356, 69%, 56%)
}

@media screen and (max-width: 375px){
   .container{
      max-width: 375px;
      margin: 0 auto;
      padding: 0 20px;
   }
   .header-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
   .header-content .hder-title{
      width: 100%;
      border-bottom: 1px solid hsl(228, 28%, 20%);
      margin-bottom: 1rem;
      padding-bottom: 1rem;
   }
   .header-content .hder-title h1{
      font-size: 24px;
      font-weight: 700;
   }
   .header-content .hder-title span{
      font-size: 12px;
   }
   
   .switcher{
      display: flex;
      width: 100%;
      justify-content: space-between;
   }
   .switcher h5{
      font-size: 12px;
      font-weight: 400;
      margin-right: 20px;
   }

   /* grid */

   .social-grid-area{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
   }
   
   /* grid overviwe */

   .overviwe{
      margin-bottom: 1rem;
   }

   .overviwe .overviwe-grid-area{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
   }
}
